In [1]:
import pandas as pd
import numpy as np
import sys
import random
import math
import os

In [4]:
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('ml-1m/ratings.dat', sep='::', header=None, names=rnames, engine = 'python')
data = ratings.filter(regex = 'user_id|movie_id|rating')

In [6]:
data.head()
data.describe()

            user_id      movie_id        rating
count  1.000209e+06  1.000209e+06  1.000209e+06
mean   3.024512e+03  1.865540e+03  3.581564e+00
std    1.728413e+03  1.096041e+03  1.117102e+00
min    1.000000e+00  1.000000e+00  1.000000e+00
25%    1.506000e+03  1.030000e+03  3.000000e+00
50%    3.070000e+03  1.835000e+03  4.000000e+00
75%    4.476000e+03  2.770000e+03  4.000000e+00
max    6.040000e+03  3.952000e+03  5.000000e+00

In [15]:
totalRecords = len(data)
uniqueUserID= len(data.user_id.unique())
uniqueMovieID = len(data.movie_id.unique())
print("rating records: ", totalRecords)
print("unique user_id: ", uniqueUserID)
print("unique movie_id: ", uniqueMovieID)
# print('%.5f%%' % (rate * 100))
print('matrix rats: %.2f%%' % (totalRecords * 1.0/(uniqueUserID * uniqueMovieID)))

rating records:  1000209
unique user_id:  6040
unique movie_id:  3706
matrix rats: 0.04%